<div class="clarin-login-page">
  <div class="container clarin-login-page__container">
    <section class="clarin-login-shell" [attr.aria-label]="'clarin.login.section_label' | translate">
      <aside class="clarin-login-brand">
        <a routerLink="/" class="clarin-login-brand__logo" [attr.aria-label]="'clarin.header.home_label' | translate">
          <img src="assets/images/clarin-pl/logo-horizontal-white.svg" [alt]="'clarin.login.logo_alt' | translate">
        </a>
        <p class="clarin-login-brand__eyebrow">{{ 'clarin.home.eyebrow' | translate }}</p>
        <h1>{{ 'clarin.login.title' | translate }}</h1>
        <p class="clarin-login-brand__lead">{{ 'clarin.login.lead' | translate }}</p>
        <ul class="clarin-login-benefits">
          <li><i class="fas fa-check" aria-hidden="true"></i><span>{{ 'clarin.login.benefit.deposit' | translate }}</span></li>
          <li><i class="fas fa-check" aria-hidden="true"></i><span>{{ 'clarin.login.benefit.manage' | translate }}</span></li>
          <li><i class="fas fa-check" aria-hidden="true"></i><span>{{ 'clarin.login.benefit.access' | translate }}</span></li>
        </ul>
        <a routerLink="/static/faq" class="clarin-login-brand__help">
          {{ 'clarin.login.help' | translate }} <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </a>
      </aside>

      <div class="clarin-login-panel">
        <div class="clarin-login-panel__label">{{ 'clarin.login.secure_label' | translate }}</div>
        <ng-container *ngIf="!authenticatedUser; else alreadyAuthenticated">
          <h2>{{ 'login.form.header' | translate }}</h2>
          <p class="clarin-login-panel__intro">{{ 'clarin.login.form_intro' | translate }}</p>
          <ds-themed-log-in [isStandalonePage]="true"></ds-themed-log-in>
          <p class="clarin-login-panel__privacy">
            <i class="fas fa-shield-alt" aria-hidden="true"></i>
            <span>{{ 'clarin.login.privacy' | translate }}</span>
          </p>
        </ng-container>

        <ng-template #alreadyAuthenticated>
          <div class="already-authenticated-message">
            <h2>{{ 'login.already-authenticated.header' | translate }}</h2>
            <p>{{ 'login.already-authenticated.message' | translate }}</p>
            <div class="action-buttons">
              <a [routerLink]="['/home']" class="btn btn-primary">{{ 'login.already-authenticated.go-home' | translate }}</a>
              <a [routerLink]="['/profile']" class="btn btn-outline-primary">{{ 'login.already-authenticated.go-profile' | translate }}</a>
            </div>
            <button class="btn btn-link clarin-login-panel__logout" [routerLink]="['/logout']">
              {{ 'login.already-authenticated.logout' | translate }}
            </button>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</div>
