<div class="pt-3" *ngIf="item != null">
  <article class="clarin-resource-card">
    <div class="clarin-resource-card__meta">
      <span *ngIf="hasItemType()" class="item-type">{{ itemTypeLabelKey ? (itemTypeLabelKey | translate) : itemTypeLabel }}</span>
      <a *ngIf="(itemCommunity | async) as community" class="item-community" [href]="communitySearchRedirect | async">
        <i class="fas fa-layer-group" aria-hidden="true"></i>{{ community.name }}
      </a>
    </div>

    <div class="clarin-resource-card__body">
      <a class="clarin-resource-card__visual" [routerLink]="itemUri" tabindex="-1" aria-hidden="true">
        <ds-themed-thumbnail
          [thumbnail]="item?.thumbnail | async"
          [defaultImage]="ITEM_TYPE_IMAGES_PATH + itemType + '.png'"
          [limitWidth]="false">
        </ds-themed-thumbnail>
      </a>

      <div class="clarin-resource-card__content">
        <h3><a [routerLink]="itemUri" class="item-name">{{ itemName }}</a></h3>
        <div *ngIf="isSearchResult" class="clarin-resource-card__publisher">
          <strong>{{ 'item.view.box.publisher.message' | translate }}</strong>
          <span>(<span *ngIf="itemPublisher != null"><a [attr.href]="publisherRedirectLink">{{itemPublisher}} <img *ngIf="hasPublisherRorAuthority" src="assets/images/ror-icon.svg" alt="ROR ID" height="16" class="ror-icon"></a> / </span>{{itemDate}})</span>
        </div>

        <div class="clarin-resource-card__authors">
          <strong>{{ 'item.view.box.author.message' | translate }}</strong>
          <ds-clarin-item-author-preview [item]="item" [fields]="AUTHOR_METADATA_FIELDS"></ds-clarin-item-author-preview>
        </div>

        <div *ngIf="isSearchResult === false && itemDescription != null" class="clarin-resource-card__description">
          <strong>{{ 'item.view.box.description.message' | translate }}</strong>
          <p class="clarin-item-description" [attr.lang]="itemDescriptionLang">{{itemDescription}}</p>
        </div>
      </div>
    </div>

    <footer class="clarin-resource-card__footer">
      <div class="clarin-resource-card__files">
        <i class="fas fa-paperclip" aria-hidden="true"></i>
        <span *ngIf="hasMoreFiles()">{{ 'item.view.box.files.message.0' | translate }} {{ itemCountOfFiles | async }} {{ fileCountTranslationKey(itemCountOfFiles | async) | translate }}<ng-container *ngIf="(itemFilesSizeBytes | async) !== null"> ({{ (itemFilesSizeBytes | async) | dsFileSize }})</ng-container></span>
        <span *ngIf="(itemCountOfFiles | async) === 1">{{ 'item.view.box.one.file.message' | translate }} ({{ (itemFilesSizeBytes | async) | dsFileSize }})</span>
        <span *ngIf="(itemCountOfFiles | async) === 0">{{ 'item.view.box.no-files.message' | translate }}</span>
        <span *ngIf="(itemCountOfFiles | async) === null">{{ 'item.view.box.loading-files.message' | translate }}</span>
        <span *ngIf="(itemCountOfFiles | async) === -1">{{ 'item.view.box.files.error' | translate }}</span>
      </div>
      <div *ngIf="licenseType != null" [ngClass]="'clarin-resource-card__license label-' + licenseLabel">
        <span>{{ licenseType | translate }}</span>
        <div class="d-inline" *ngFor="let lli of (licenseLabelIcons | async)">
          <img [ngClass]="{'clarin-license-icon-mr': licenseLabelIcons.value.length > 1}"
               [src]="secureImageData(lli?.icon)" [ngbTooltip]="lli?.title"
               triggers="mouseenter:mouseleave" placement="bottom" alt="" width="16">
        </div>
      </div>
    </footer>
  </article>
</div>
