<div class="card clarin-ref-box">
  <div class="card-body">
    <div class="clarin-ref-box-header">
      <div class="clarin-ref-box-heading">
        <i class="fas fa-quote-left clarin-ref-box-header-icon" aria-hidden="true"></i>
        <span>{{'item.refbox.citation.featured-service.message' | translate}}</span>
      </div>
      <div class="clarin-ref-box-citation-buttons" role="group">
        <button type="button" (click)="openModal('bibtex')">
          {{'item.refbox.citation.bibtex.button' | translate}}
        </button>
        <button type="button" (click)="openModal('cmdi')">
          {{'item.refbox.citation.cmdi.button' | translate}}
        </button>
      </div>
    </div>
    <div class="clarin-ref-box-body">
      <div class="clarin-ref-box-text" [innerHTML]="refboxContent | async"></div>
      <button type="button"
              class="clarin-ref-box-copy-wrapper"
              placement="bottom"
              [ngbTooltip]="'item.page.download.command.copied' | translate"
              [attr.aria-label]="'item.page.download.command.copy' | translate"
              #tooltip="ngbTooltip"
              (click)="copyText()">
        <i class="far fa-copy clarin-ref-box-copy-button" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
