<header class="clarin-pl-header">
  <ds-clarin-navbar-top></ds-clarin-navbar-top>
  <div class="clarin-pl-header__main">
    <div class="container clarin-pl-header__inner">
      <a class="clarin-pl-brand" routerLink="/home" [attr.aria-label]="'clarin.header.home_label' | translate">
        <img [src]="imageBasePath + '/clarin-pl/logo-horizontal-white.svg'" alt="CLARIN-PL">
        <span>{{ 'clarin.header.repository' | translate }}</span>
      </a>

      <nav class="clarin-pl-navigation d-none d-md-flex" [attr.aria-label]="'nav.main.description' | translate">
        <a routerLink="/search" routerLinkActive="active">{{ 'clarin.header.catalogue' | translate }}</a>
        <a routerLink="/community-list" routerLinkActive="active">{{ 'clarin.header.collections' | translate }}</a>
        <a routerLink="/static/deposit" routerLinkActive="active">{{ 'clarin.header.deposit' | translate }}</a>
        <a routerLink="/static/about" routerLinkActive="active">{{ 'clarin.header.policies' | translate }}</a>
      </nav>

      <div class="clarin-pl-header__actions">
        <a class="clarin-pl-header__external d-none d-xl-inline-flex" href="https://clarin-pl.eu/" target="_blank" rel="noopener">
          clarin-pl.eu <i class="fas fa-external-link-alt" aria-hidden="true"></i>
        </a>
        <a class="clarin-pl-header__help d-none d-md-inline-flex" href="mailto:dspace@clarin-pl.eu">
          <span class="clarin-pl-header__help-icon" aria-hidden="true">
            <i class="fas fa-question"></i>
          </span>
          {{ 'clarin.header.helpdesk' | translate }}
        </a>
        <button class="clarin-pl-menu-toggle" type="button" (click)="toggleNavbar()"
                aria-controls="collapsible-mobile-navbar" [attr.aria-label]="'nav.toggle' | translate">
          <span class="fas fa-bars" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</header>
