<div class="file-preview-box rounded pt-2">
  <div style="text-align: left" *ngIf="fileInput.format === 'video/mp4'">
    <video #videoPreview preload="none" controls="controls" [src]="content_url" [poster]="thumbnail_url$ | async"
           height="240">
      <!--source [src]="content_url" type="video/mp4"-->
      {{'item.file.description.not.supported.video' | translate}}
    </video>
  </div>
  <div class="file-content">
    <dl class="dl-horizontal">
      <dt>{{'item.file.description.name' | translate}}</dt>
      <dd>
        {{ fileInput.name }}
      </dd>
      <dt>{{'item.file.description.size' | translate}}</dt>
      <dd>
        {{ fileInput.fileSize | dsFileSize }}
      </dd>
      <dt>{{'item.file.description.format' | translate}}</dt>
      <dd>
        {{ fileInput.format }}
      </dd>
      <dt>{{'item.file.description.description' | translate}}</dt>
      <dd>
        {{ fileInput.description }}
      </dd>
      <dt>{{'item.file.description.checksum' | translate}}</dt>
      <dd>
        {{ fileInput.checksum }}
      </dd>
    </dl>
    <img
      *ngIf="fileInput.format !== 'video/mp4'"
      [src]="(thumbnail_url$ | async) ? (thumbnail_url$ | async) : MIME_TYPE_IMAGES_PATH +
      fileInput.format?.replace('/','-') + '.png'"
      (error)="handleImageError($event)"
      (click)="downloadFile()"
      alt="Preview"
      class="preview-image cursor-pointer"/>
  </div>
  <div class="button-container" role="group" [attr.aria-label]="'item.file.description.actions' | translate">
    <span>
      <button type="button" class="download-btn" (click)="downloadFile()">
        <i class="fas fa-download" aria-hidden="true"></i>
        {{'item.file.description.download.file' | translate}}
      </button>
    </span>
    <span class="pl-1">
      <button type="button" class="preview-btn collapsed" data-toggle="collapse" *ngIf="couldPreview()"
         [attr.data-target]="'#file_file_' + fileInput.id" [attr.aria-controls]="'file_file_' + fileInput.id">
        <i class="fas fa-eye" aria-hidden="true"></i>
        {{'item.file.description.preview' | translate}}
      </button>
    </span>
  </div>
  <div class="in collapse" id="file_file_{{ fileInput.id }}" style="height: auto">
    <div class="panel panel-info">
      <div class="bold panel-heading">
        <span><i class="fas fa-eye" aria-hidden="true"></i>
        {{'item.file.description.file.preview' | translate}}
        </span>
        <button type="button" class="preview-close collapsed" data-toggle="collapse"
                [attr.data-target]="'#file_file_' + fileInput.id"
                [attr.aria-label]="'item.file.description.preview.close' | translate">
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <div class="panel-body">
        <ul class="treeview collapse show">
          <li *ngIf="hasNoPreview()" class="preview-empty">
            <span class="preview-empty__icon" aria-hidden="true"><i class="far fa-file-alt"></i></span>
            <div>
              <strong>{{ 'item.preview.no-preview.title' | translate }}</strong>
              <p>{{ 'item.preview.no-preview' | translate }}</p>
              <a *ngIf="emailToContact" [href]="'mailto:' + emailToContact" class="email-text">
                <i class="far fa-envelope" aria-hidden="true"></i> {{ emailToContact }}
              </a>
            </div>
          </li>

          <!-- File Content -->
          <ng-container *ngIf="fileInput.fileInfo.length !== 0">
            <!-- ZIP or TAR File Format -->
            <ng-container *ngIf="isArchive(fileInput.format)">
              <ds-file-tree-view *ngFor="let node of fileInput.fileInfo" [node]="node"></ds-file-tree-view>
            </ng-container>

            <!-- TXT Format -->
            <ng-container *ngIf="isTxt()">
              <pre>{{ fileInput.fileInfo[0]?.content }}</pre>
            </ng-container>

            <!-- HTML Format -->
            <ng-container *ngIf="fileInput.format === 'text/html'">
              <div [innerHTML]="fileInput.fileInfo[0]?.content"></div>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
