<div class="card clarin-ref-box-footer">
  <div class="card-body clarin-ref-box-footer-body">
    <div class="clarin-featured-services" [hidden]="(featuredServices | async).length === 0">
      <div class="clarin-ref-box-footer-heading">
        <i class="fas fa-puzzle-piece clarin-ref-box-footer-icon" aria-hidden="true"></i>
        <span>{{'item.refbox.featured-service.heading' | translate}}</span>
      </div>

      <div class="clarin-ref-box-footer-services">
        <div class="btn-group" ngbDropdown *ngFor="let featuredService of (featuredServices | async); let i = index">
          <a class="btn clarin-ref-box-services-button"
             target="_blank"
             rel="noopener noreferrer"
             [href]="featuredService.url">
            {{featuredService.name}}
          </a>
          <button type="button"
                  class="btn dropdown-toggle dropdown-toggle-split clarin-ref-box-services-button"
                  id="resultdropdown-{{ i }}"
                  ngbDropdownToggle
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <span class="sr-only">{{featuredService.name}}</span>
          </button>
          <div ngbDropdownMenu [attr.aria-labelledby]="'resultdropdown-' + i" class="lindat-dropdown-menu">
            <a class="dropdown-item"
               target="_blank"
               rel="noopener noreferrer"
               *ngFor="let featuredServiceLink of featuredService.featuredServiceLinks"
               [href]="featuredServiceLink.value">
              {{featuredServiceLink.key}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="clarin-share-section">
      <div class="clarin-ref-box-footer-heading">
        <i class="fas fa-share-alt clarin-ref-box-footer-icon" aria-hidden="true"></i>
        <span>{{'item.refbox.featured-service.share.message' | translate}}</span>
      </div>
      <div class="clarin-share-links">
        <a class="fab fa-facebook-square clarin-share-buttons clarin-share-facebook"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="Facebook"
           [href]="fbRedirectURL | async"></a>
        <a class="fab fa-twitter-square clarin-share-buttons clarin-share-twitter"
           target="_blank"
           rel="noopener noreferrer"
           aria-label="X / Twitter"
           [href]="twitterRedirectURL | async"></a>
      </div>
    </div>
  </div>
</div>
