<div *ngIf="licenseType || license" class="clarin-license-notice" role="note">
  <div class="clarin-license-notice__text">
    <span *ngIf="licenseType">{{ 'item.page.license.message.0' | translate }}</span>
    <span *ngIf="licenseType" [ngClass]="'clarin-license-notice__badge label-' + licenseLabel">{{ licenseType | translate }}</span>
    <span *ngIf="license">{{ 'item.page.license.message.1' | translate }}</span>
    <a *ngIf="license && licenseURI" [href]="licenseURI" target="_blank" rel="noopener noreferrer">{{ license }}</a>
    <span *ngIf="license && !licenseURI">{{ license }}</span>
  </div>
  <div *ngIf="(licenseLabelIcons | async)?.length" class="clarin-license-notice__icons">
    <img *ngFor="let lli of (licenseLabelIcons | async)"
         [src]="secureImageData(lli.icon)"
         [ngbTooltip]="lli?.title"
         placement="bottom"
         triggers="mouseenter:mouseleave"
         [alt]="lli?.title || ''" width="24">
  </div>
</div>
