<div class="clarin-top-header">
  <div class="container clarin-top-header__inner">
    <div class="clarin-top-header__label">{{ 'clarin.header.network' | translate }}</div>
    <div class="ds-language-selection" [attr.aria-label]="'clarin.header.language' | translate">
      <button type="button" class="language-icon" (click)="setLanguage('pl')" [attr.aria-label]="'language.polish' | translate">
        <img src="./assets/images/flags/pl.svg" alt="" aria-hidden="true">
        <span>PL</span>
      </button>
      <button type="button" class="language-icon" (click)="setLanguage('en')" [attr.aria-label]="'language.english' | translate">
        <img src="./assets/images/flags/gb.svg" alt="" aria-hidden="true">
        <span>EN</span>
      </button>
    </div>

    <div class="clarin-top-header__account">
      <div *ngIf="authenticatedUser == null">
        <a routerLink="/login" class="signon">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
          {{ 'login.title' | translate }}
        </a>
      </div>
      <div *ngIf="authenticatedUser != null" class="clarin-user-links">
        <a routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>{{ authenticatedUser.name }}</a>
        <span aria-hidden="true">/</span>
        <a routerLink="/logout">{{ 'logout.title' | translate }}</a>
      </div>
    </div>
  </div>
</div>
